*.log
.DS_Store
Thumbs.db

# Environment
.env
.env.backup
.env.production

# IDEs
/.idea
/.vscode
/.fleet
/.zed

# Dependencies
/vendor
/node_modules

# Build / public
/public/build
/public/hot
/public/storage

# Storage
/storage/*.key
/storage/pail

# Config / tools
.phpactor.json
.phpunit.result.cache
/.phpunit.cache
auth.json

# Laravel extras
Homestead.json
Homestead.yaml
/.vagrant

# Logs
npm-debug.log
yarn-error.log
